.SectionTabs{
	display:flex;
	flex-direction: row;
}
.SectionTabs-item{
	padding:2px 20px 0 20px;

	cursor:pointer;

	transition: background 0.3s, color 0.3s;
	
	border-bottom:3px solid transparent;
}
.SectionTabs-item.isActive{
	color: #F06F68;
	border-bottom-color:#F06F68;
}