.DatePicker{
	user-select: none;
}
.DatePicker-day{
	text-align:right;
}
.DatePicker-month{
	text-align: left;
}
.DatePicker-year{
	text-align:left
}


.DatePicker-columns{
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.DatePicker-col{
	position:relative;
	padding:0 10px;
	z-index:1;
}

.DatePicker-col_inner{
	position:relative;	
}

.DatePicker-selectionRow{
	background:white;
	z-index:0;
	width:100%;
}

.DatePicker-row{
	height:30px;
	overflow:hidden;
	line-height:30px;

	transition: color .1s linear;
	
	cursor:pointer;
	user-select: none;
}
.DatePicker-row--selected{
	color:#FF9B1A;
}

.DatePicker-dates,
.DatePicker-months,
.DatePicker-years{
	overflow:hidden;
}


.DatePicker:focus,
.DatePicker-col:focus{
	outline:none;
}



.DatePicker-row__transition-enter {
	opacity: 0.01;
	height:0px;
	transition: height .1s, opacity .1s;
}

.DatePicker-row__transition-enter.DatePicker-row__transition-enter-active {
	opacity: 1;
	height:30px
}

.DatePicker-row__transition-leave {
	opacity: 1;
	height:30px;
	transition: height .1s, opacity .1s;
}

.DatePicker-row__transition-leave.DatePicker-row__transition-leave-active {
	opacity: 0.01;
	height:0px;
}


.DatePicker-row__transitionTransition{

}